html,body{
	font-family: "微软雅黑",Helvetica, Arial, sans-serif;
	position: relative;
	height: 100%;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.loadingTipWrapper{
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	pointer-events:none;
}

.loadingTip{
	position: absolute;
	color: #FFF;
	border-radius: 5px;
	margin: auto;
	min-width: 80px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0; left: 0; bottom: 0; right: 0;
	display: table;
	height: auto;
	padding: 20px;
	width:50%;
}

.alert-tip{
	position: absolute;
	left: 0;
	width: 98%;
	margin: 0 1% 0;
	z-index: 1;
	font-weight: bolder;
	letter-spacing: 5px;
}


.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0
}

.nav-tabs.nav-justified>li {
    float: none
}

.nav-tabs.nav-justified>li>a {
    margin-bottom: 5px;
    text-align: center
}

.nav-tabs.nav-justified>.dropdown .dropdown-menu {
    top: auto;
    left: auto
}

    .nav-tabs.nav-justified>li {
        display:table-cell;
        width: 1%
    }

    .nav-tabs.nav-justified>li>a {
        margin-bottom: 0
    }

.nav-tabs.nav-justified>li>a {
    margin-right: 0;
    border-radius: 4px
}

.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:hover,.nav-tabs.nav-justified>.active>a:focus {
    border: 1px solid #ddd
}

    .nav-tabs.nav-justified>li>a {
        border-bottom:1px solid #ddd;
        border-radius: 4px 4px 0 0
    }

    .nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:hover,.nav-tabs.nav-justified>.active>a:focus {
        border-bottom-color: #fff
    }



/* =S saleForBuilding */

.selectNav{
	width: 100%;
	position: fixed;
	left: 0;
	background-color: #fff;
	z-index: 100;
	top:0;
	padding-top: 8px;
}

.selectWrapper{
	width: 50%;
	display: inline-block;
	float: left;
	padding: 0 5px 5px;
}

.selectNav .form-control{
	text-align: center;
	border-color: #428BCA;
}


.table-wrapper{
	padding-top: 45px;
	padding-bottom: 45px;
	height: 100%;
	overflow: auto;
	margin-bottom: -45px;
}

.unitsListTable{
	/*height: 300px;*/
}

.custom-table-footer{
	margin-top: -1px;
	margin-bottom: 0;
	text-align: center;
}

/* =E saleForBuilding */

.fixd-tab-nav{
	position: fixed;
	z-index: 99;
	box-sizing:border-box;
	padding: 8px 5px 5px;
	top:0; left:0;
	background-color: #fff;
}



.container-fluid{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 8px;
	width: 100%; height: 100%;
	-webkit-overflow-scrolling: touch;
}

.page-header{
	position: relative;
	z-index: 1;
	margin:5px 0;
	overflow: hidden;
}

.fixed-table-header{
	height: auto;
	line-height: 0.6em;
}

.fixed-table-header table th{
	vertical-align: middle!important;
}

.fixed-table-container thead th .th-inner{
	line-height: 18px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
	vertical-align: middle;
}

.fixed-table-footer td{
	vertical-align: top!important;
}


.bottom-back-btn{
	background-color: #fff;
	padding:5px;
	position: fixed;
	left: 0; bottom: 0;
	width:100%;
	box-sizing: border-box;
}

.hide-date-input{
	-webkit-appearance: button;
	text-align: center;
	font-size: 20px;
	line-height: 20px!important;
	margin-bottom: 5px;

	position: absolute; 
	top:-999em; left:-999em;
}

.page-header .caret{
	border-width: 6px;
}
